.form-container {
  width: 400px;
  border-radius: 0.80rem;
  background-color: rgb(173, 211, 251);
  padding: 15px;
  color: rgb(13, 14, 14);
}

.continer{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
}

.title {
  text-align: center;
  color: black;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: black;
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgb(4, 255, 255);
  padding: 0.75rem 1rem;
  color: rgb(5, 6, 1);
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(2, 2, 3);
  margin: 8px 0 14px 0;
}

.forgot a,.signup a {
  color: rgb(5, 5, 7);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover, .signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
  display: block;
  width: 100%;
  background-color: rgb(145, 109, 255);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.475rem;
  font-weight: 600;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

#navbarNav {
  margin: 10px;
  justify-content: space-evenly;
  padding: 20px;
}
.container-fluid {
  background-color: rgb(56, 154, 26);
}
.navbar-nav {
  gap: 100px;
}
.nav-link {
  color: #fff;
}
.button {
  display: flex;
  text-align: center;
  align-items: center;
}
.Continer h1 {
  text-align: center;
}


.Continer1 {
  display: flex;
  justify-content: space-between;
}

.col {
  text-align: center;
}